@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipes System</h1>
    <p class="lead">The system keeps track of Chefs and their Recipes</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recipes System</h2>
        <p>
            Recipes System is a sample application created for university assignment.
        </p>

    </div>

</div>